<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Vodák - Registrace</title>
</head>
<body>
    <header>
        <h1>Rozsazení v lodích na vodáckém kurzu 2023 SPŠE Ječná</h1>
    </header>
    <div class="container register">
        <form id="registration" method="POST" action="/registration">
            <input type="text" name="nick" id="nick" placeholder="Přezdívka" minlength="2" maxlength="20"
                   oninput="formatCheck(this)" required>
            <input type="text" name="friend" id="friend" placeholder="Kamarád na loď"
                   oninput="formatCheck(this)">
            <div id="inputdiv">
                <input type="text" name="name" id="name" placeholder="Jméno a Přijímení"
                       minlength="2"
                   maxlength="50" oninput="formatCheck(this)" required>
                <select name="school_class" id="school_class" required>
                    <option value="separator">Třída</option>
                    <option value="separator">-----</option>
                    <option value="A1a">A1a</option>
                    <option value="A1b">A1b</option>
                    <option value="A2a">A2a</option>
                    <option value="A2b">A2b</option>
                    <option value="A3a">A3a</option>
                    <option value="A3b">A3b</option>
                    <option value="A4a">A4a</option>
                    <option value="A4b">A4b</option>
                    <option value="separator">-----</option>
                    <option value="C1a">C1a</option>
                    <option value="C1b">C1b</option>
                    <option value="C1c">C1c</option>
                    <option value="C2a">C2a</option>
                    <option value="C2b">C2b</option>
                    <option value="C2c">C2c</option>
                    <option value="C3a">C3a</option>
                    <option value="C3b">C3b</option>
                    <option value="C3c">C3c</option>
                    <option value="C4a">C4a</option>
                    <option value="C4b">C4b</option>
                    <option value="C4c">C4c</option>
                    <option value="separator">-----</option>
                    <option value="E1">E1</option>
                    <option value="E2">E2</option>
                    <option value="E3">E3</option>
                    <option value="E4">E4</option>
                </select>
            </div>
            <input type="email" name="email" id="email" placeholder="Školní e-mail" required>
            <input type="password" name="pass" id="pass" placeholder="Heslo" minlength="5" required>
            <div id="check">
                <div>
                    <input type="checkbox" name="swimmer" id="swimmer" required>
                    <p>Potvrzuji že jsem plavec</p>
                </div>
                <div>
                    <input type="checkbox" name="gdpr" id="gdpr" required>
                    <p>Souhlasím s poskytnutím osobních údajů</p>
                </div>
            </div>
            <button name="send" id="send">Odeslat</button>
            <a href="/">Vrátit se zpět</a>
        </form>
        <p id="chyba">{{ chyba }}</p>
    </div>

    <script>
        const pattern = /^[a-zA-Z0-9]+$/
        const pattern_name = /^[\p{L}\p{N}]+$/u

        function formatCheck(item) {
            if(item.id == "nick" || item.id == "friend") {
                if(item.value.length >= 2 && item.value.length <= 20 && pattern.test(item.value) || item.value.length <= 0) {
                $('#chyba').text("")
                $('#'+item.id).css("background-color", "rgb(34, 50, 55)")
            }
            else if(item.id == "name") {
                $('#chyba').text("")
                $('#'+item.id).css("background-color", "rgb(34, 50, 55)")
            }
            else {
                $('#chyba').text("Text může obsahovat pouze obyčejná písmena a číslice")
                console.log(item.id)
                $('#'+item.id).css("background-color", "red")
            }
            }
        }

        $('#registrace').submit(function() {
            let ni = $('#nick').val()
            let nm = $('#name').val()
            let cl = $('#school_class').val()
            let fr = $('#friend').val()
            let sw = $('#swimmer').val()
            let gd = $('#gdpr').val()

            if(!sw) return false
            else if(!gd) return false
            else if(ni.length >= 2 && ni.length <= 20 && pattern.test(ni) &&
                nm.length >= 2 && nm.length <= 50 && pattern_name.test(nm) && cl.toString() != "separator" &&
                fr.toString() == "")
                return true
            else if(fr != null && fr.length >= 2 && fr.length <= 20 && pattern.test(fr)) return true
            else return false
        });
    </script>
</body>
</html>